*.suo
*.user
*.sln.docstates


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.vspscc
*.vssscc
*.scc

*.vsp
*.vspx

*.[Rr]e[Ss]harper
*.DotSettings.user